node_modules
*.log*
.nuxt
.nitro
.cache
.output
.DS_Store
.vscode/*
.scannerwork


# test
coverage
unit.xml
integration.xml
sonar-report.xml
test-results



# Debug/dev files
seed-db.js

# Distributables
dist

#npm
.npm
auto-imports.d.ts

#VSCode Recommended extensions
!.vscode/extensions.json

.idea
.codiumai
.env
