@font-face {
  font-family: Ambit;
  src: url("assets/fonts/Ambit-Regular.woff2") format("woff2"), url("assets/fonts/Ambit-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Ambit;
  src: url("assets/fonts/Ambit-SemiBold.woff2") format("woff2"), url("assets/fonts/Ambit-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: Ambit;
  src: url("assets/fonts/Ambit-Bold.woff2") format("woff2"), url("assets/fonts/Ambit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 900;
}
