openapi: 3.0.2

info:
  title: Experience Master Data Offer Service
  description: API to get and set Experiences Master Data
  version: 1.0.0

  termsOfService: https://tui-dx.com/terms/
  contact:
    name: Susana Pont
    email: susana.pont@tui.com
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: "https://nova-api-gateway.tui-mm.com/experience-master-data-offer"
    description: Prod server
  - url: "https://nova-api-gateway.pre.tui-mm.com/experience-mater-data-offer"
    description: Pre-prod server
  - url: "https://nova-api-gateway.test.tui-mm.com/experience-master-data-offer"
    description: Test server

security:
  - bearerAuth: [ ]

tags:
  - name: experience-statuses
  - name: experience-types
  - name: capacity-types
  - name: option-statuses
  - name: holders
  - name: pax
  - name: option-languages
  - name: category-group-types
  - name: categories
  - name: category-types
  - name: interests
  - name: highlights
  - name: included
  - name: important-information
  - name: additional-services
  - name: functional-group
  - name: hierarchical-groups
  - name: option-names
  - name: pricing-types
  - name: groups
  - name: markets

paths:
  /experience-statuses:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getExperienceStatusCollection
      tags:
        - experience-statuses
      summary: 'Retrieves the stream of experience status resources'
      description: 'Retrieves the stream of experience status resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/experienceStatus'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createExperienceStatus
      tags:
        - experience-statuses
      summary: 'Create an experience status'
      description: 'Create an experience status, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/experienceStatus'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /experience-statuses/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getExperienceStatus
      tags:
        - experience-statuses
      summary: 'Get experience status'
      description: 'Get experience status'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/experienceStatus'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateExperienceStatus
      tags:
        - experience-statuses
      summary: 'Update the experience status resource'
      description: 'Update the experience status resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/experienceStatus'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteExperienceStatus
      tags:
        - experience-statuses
      summary: 'Remove the experience status resource'
      description: 'Remove the experience status resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /experience-types:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getExperienceTypeCollection
      tags:
        - experience-types
      summary: 'Retrieves the stream of experience type resources'
      description: 'Retrieves the stream of experience type resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/experienceType'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createExperienceType
      tags:
        - experience-types
      summary: 'Create an experience type resource'
      description: 'Create an experience type resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/experienceType'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /experience-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getExperienceType
      tags:
        - experience-types
      summary: 'Get experience type resource'
      description: 'Get experience type resource'
      responses:
        '200':
          description: OK - The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/experienceType'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateExperienceType
      tags:
        - experience-types
      summary: 'Update the experience type resource'
      description: 'Update the experience type resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/experienceType'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteExperienceType
      tags:
        - experience-types
      summary: 'Remove the experience type resource'
      description: 'Remove the experience type resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /capacity-types:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getCapacityTypeCollection
      tags:
        - capacity-types
      summary: 'Retrieves the stream of capacity type resources'
      description: 'Retrieves the stream of capacity type resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/capacityType'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createCapacityType
      tags:
        - capacity-types
      summary: 'Create a capacity type resource'
      description: 'Create a capacity type resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityType'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /capacity-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getCapacityType
      tags:
        - capacity-types
      summary: 'Get capacity type resource'
      description: 'Get capacity type resource'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityType'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateCapacityType
      tags:
        - capacity-types
      summary: 'Update the capacity type resource'
      description: 'Update the capacity type resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityType'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteCapacityType
      tags:
        - capacity-types
      summary: 'Remove the capacity type resource'
      description: 'Remove the capacity type resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /option-statuses:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getOptionStatusCollection
      tags:
        - option-statuses
      summary: 'Retrieves the stream of option status resources'
      description: 'Retrieves the stream of option status resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/optionStatus'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createOptionStatus
      tags:
        - option-statuses
      summary: 'Create an option status resource'
      description: 'Create an option status resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionStatus'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /option-statuses/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getOptionStatus
      tags:
        - option-statuses
      summary: 'Get option status resource'
      description: 'Get option status resource'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionStatus'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateOptionStatus
      tags:
        - option-statuses
      summary: 'Update the option status resource'
      description: 'Update the option status resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionStatus'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteOptionStatus
      tags:
        - option-statuses
      summary: 'Remove the option status resource'
      description: 'Remove the option status resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /holders:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getHolderCollection
      tags:
        - holders
      summary: 'Retrieves the stream of holder resources'
      description: 'Retrieves the stream of holder resources, deprecated, use /pax endpoint instead'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holder'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      deprecated: true
      operationId: createHolder
      tags:
        - holders
      summary: 'Create a holder resource'
      description: 'Create a holder resource, also send an event to Kafka topic about changes, deprecated, use /pax endpoint instead'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/holder'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /holders/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getHolder
      tags:
        - holders
      summary: 'Get holder'
      description: 'Get holder, deprecated, use /pax endpoint instead'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/holder'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      deprecated: true
      operationId: updateHolder
      tags:
        - holders
      summary: 'Update the holder resource'
      description: 'Update the holder resource, also send an event to Kafka topic about changes, deprecated, use /pax endpoint instead'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/holder'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      deprecated: true
      operationId: deleteHolder
      tags:
        - holders
      summary: 'Remove the holder resource'
      description: 'Remove the holder resource, also send an event to Kafka topic about changes, deprecated, use /pax endpoint instead'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /pax:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getPaxCollection
      tags:
        - pax
      summary: 'Retrieves the stream of pax resources'
      description: 'Retrieves the stream of pax resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pax'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/500'
    post:
      operationId: createPax
      tags:
        - pax
      summary: 'Create a pax resource'
      description: 'Create a pax resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pax'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/500'
  /pax/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getPax
      tags:
        - pax
      summary: 'Get pax'
      description: 'Get pax'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pax'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/500'
    put:
      operationId: updatePax
      tags:
        - pax
      summary: 'Update the pax resource'
      description: 'Update the pax resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pax'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/500'
    delete:
      operationId: deletePax
      tags:
        - pax
      summary: 'Remove the pax resource'
      description: 'Remove the pax resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/500'
  /option-languages:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getOptionLanguageCollection
      tags:
        - option-languages
      summary: 'Retrieves the stream of option language resources'
      description: 'Retrieves the stream of option language resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/optionLanguage'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createOptionLanguage
      tags:
        - option-languages
      summary: 'Create an option language resource'
      description: 'Create an option language resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionLanguage'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /option-languages/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getOptionLanguage
      tags:
        - option-languages
      summary: 'Get option language resource'
      description: 'Get option language resource'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionLanguage'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateOptionLanguage
      tags:
        - option-languages
      summary: 'Update the option language resource'
      description: 'Update the option language resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionLanguage'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteOptionLanguage
      tags:
        - option-languages
      summary: 'Remove the option language resource'
      description: 'Remove the option language resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /category-group-types:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getCategoryGroupTypeCollection
      tags:
        - category-group-types
      summary: 'Get category groups stream'
      description: 'Get category groups stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/category'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      deprecated: true
      operationId: createCategoryGroupType
      tags:
        - category-group-types
      summary: 'Create category group type'
      description: 'Create category group type, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/category'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /category-group-types/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getCategoryGroupType
      tags:
        - category-group-types
      summary: 'Get category group type resource by id'
      description: 'Get category group type resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      deprecated: true
      operationId: updateCategoryGroupType
      tags:
        - category-group-types
      summary: 'Category group type'
      description: 'Update category group type, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/category'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      deprecated: true
      operationId: deleteCategoryGroupType
      tags:
        - category-group-types
      summary: 'Delete category group type'
      description: 'Delete category group type, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /categories:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getCategoryCollection
      tags:
        - categories
      summary: 'Get categories stream'
      description: 'Get categories stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/category'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createCategory
      tags:
        - categories
      summary: 'Create category'
      description: 'Create category, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/category'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /categories/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getCategory
      tags:
        - categories
      summary: 'Get category resource by id'
      description: 'Get category resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/category'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateCategory
      tags:
        - categories
      summary: 'Update category'
      description: 'Update category, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/category'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteCategory
      tags:
        - categories
      summary: 'Delete category'
      description: 'Delete category, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /important-information:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getImportInformationCollection
      tags:
        - important-information
      summary: 'Get important information stream'
      description: 'Get important information stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/importantInformation'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createImportantInformation
      tags:
        - important-information
      summary: 'Create important information'
      description: 'Create important information, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/importantInformationRequest'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /important-information/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getImportantInformation
      tags:
        - important-information
      summary: 'Get important information resource by id'
      description: 'Get important information resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/importantInformation'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateImportantInformation
      tags:
        - important-information
      summary: 'Update important information'
      description: 'Update important information, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/importantInformation'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteImportantInformation
      tags:
        - important-information
      summary: 'Delete important information'
      description: 'Delete important information, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /included:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getIncludedCollection
      tags:
        - included
      summary: 'Get included stream'
      description: 'Get included stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/included'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createIncluded
      tags:
        - included
      summary: 'Create included'
      description: 'Create included, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/includedRequest'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /included/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getIncluded
      tags:
        - included
      summary: 'Get included resource by id'
      description: 'Get included resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/included'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateIncluded
      tags:
        - included
      summary: 'Update include'
      description: 'Update include, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/included'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteIncluded
      tags:
        - included
      summary: 'Delete include'
      description: 'Delete include, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /highlights:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getHighlightsCollection
      tags:
        - highlights
      summary: 'Get highlights stream'
      description: 'Get highlights stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/highlights'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createHighlight
      tags:
        - highlights
      summary: 'Create highlight'
      description: 'Create highlight, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/highlightsRequest'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /highlights/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getHighlights
      tags:
        - highlights
      summary: 'Get highlights resource by id'
      description: 'Get highlights resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/highlights'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateHighlights
      tags:
        - highlights
      summary: 'Update highlight'
      description: 'Update highlight, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/highlights'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteHighlights
      tags:
        - highlights
      summary: 'Delete highlights'
      description: 'Delete highlights, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /category-types:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getCategoryTypeCollection
      tags:
        - category-types
      summary: 'Get category types stream'
      description: 'Get category types stream'
      parameters:
        - $ref: '#/components/parameters/languageCodeParam'
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/interest'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      deprecated: true
      operationId: createCategoryType
      tags:
        - category-types
      summary: 'Create category type'
      description: 'Create a category type resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/interest'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /category-types/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getCategoryType
      tags:
        - category-types
      summary: 'Get category type by id'
      description: 'Get category type by id'
      responses:
        '200':
          description: OK - The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interest'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      deprecated: true
      operationId: updateCategoryType
      tags:
        - category-types
      summary: 'Update category type'
      description: 'Update the category type resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/interest'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      deprecated: true
      operationId: deleteCategoryType
      tags:
        - category-types
      summary: 'Delete category type'
      description: 'Delete the category type resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /interests:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getInterestCollection
      tags:
        - interests
      summary: 'Get interests stream'
      description: 'Get interests stream'
      parameters:
        - $ref: '#/components/parameters/languageCodeParam'
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/interest'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createInterest
      tags:
        - interests
      summary: 'Create interest'
      description: 'Create a interest resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/interest'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /interests/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getInterest
      tags:
        - interests
      summary: 'Get interest by id'
      description: 'Get interest by id'
      responses:
        '200':
          description: OK - The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interest'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateInterest
      tags:
        - interests
      summary: 'Update interest'
      description: 'Update the interest, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/interest'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteInterest
      tags:
        - interests
      summary: 'Delete interest'
      description: 'Delete the interest resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /additional-services:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getAdditionalServiceCollection
      tags:
        - additional-services
      summary: 'Get Additional Service stream'
      description: 'Get Additional Service stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/additionalService'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createAdditionalService
      tags:
        - additional-services
      summary: 'Create additional service'
      description: 'Create additional service, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/additionalService'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /additional-services/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getAdditionalService
      tags:
        - additional-services
      summary: 'Get additional service resource by id'
      description: 'Get additional service resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/additionalService'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateAdditionalService
      tags:
        - additional-services
      summary: 'Update additional service'
      description: 'Update additional service, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/additionalService'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteAdditionalService
      tags:
        - additional-services
      summary: 'Delete additional service'
      description: 'Delete additional service, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /functional-groups:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getFunctionalGroupCollection
      tags:
        - functional-group
      summary: 'Get functional group stream'
      description: 'Get functional group stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/hierarchicalGroup'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      deprecated: true
      operationId: createFunctionalGroup
      tags:
        - functional-group
      summary: 'Create functional group'
      description: 'Create functional group, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hierarchicalGroup'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /functional-groups/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getFunctionalGroup
      tags:
        - functional-group
      summary: 'Get functional group resource by id'
      description: 'Get functional group resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchicalGroup'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      deprecated: true
      operationId: updateFunctionalGroup
      tags:
        - functional-group
      summary: 'Update functional group'
      description: 'Update functional group, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hierarchicalGroup'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      deprecated: true
      operationId: deleteFunctionalGroup
      tags:
        - functional-group
      summary: 'Delete functional group'
      description: 'Delete functional group, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /hierarchical-groups:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getHierarchicalGroupCollection
      tags:
        - hierarchical-groups
      summary: 'Get hierarchical group stream'
      description: 'Get hierarchical group stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/hierarchicalGroup'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createHierarchicalGroup
      tags:
        - hierarchical-groups
      summary: 'Create hierarchical group'
      description: 'Create hierarchical group, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hierarchicalGroup'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /hierarchical-groups/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getHierarchicalGroup
      tags:
        - hierarchical-groups
      summary: 'Get hierarchical group resource by id'
      description: 'Get hierarchical group resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchicalGroup'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateHierarchicalGroup
      tags:
        - hierarchical-groups
      summary: 'Update hierarchical group'
      description: 'Update hierarchical group, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hierarchicalGroup'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteHierarchicalGroup
      tags:
        - hierarchical-groups
      summary: 'Delete hierarchical group'
      description: 'Delete hierarchical group, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
  /option-names:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getOptionNameCollection
      tags:
        - option-names
      summary: 'Retrieves the stream of option name resources'
      description: 'Retrieves the stream of option name resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/optionName'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createOptionName
      tags:
        - option-names
      summary: 'Create an option name resource'
      description: 'Create an option name resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionName'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /option-names/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getOptionName
      tags:
        - option-names
      summary: 'Get option name resource'
      description: 'Get option name resource'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionName'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateOptionName
      tags:
        - option-names
      summary: 'Update the option name resource'
      description: 'Update the option name resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionName'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteOptionName
      tags:
        - option-names
      summary: 'Remove the option name resource'
      description: 'Remove the option name resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /pricing-types:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getPricingTypeCollection
      tags:
        - pricing-types
      summary: 'Retrieves the stream of PricingType resources'
      description: 'Retrieves the stream of PricingType resources'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pricingType'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createPricingType
      tags:
        - pricing-types
      summary: 'Create a PricingType resource'
      description: 'Create a PricingType resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricingType'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /pricing-types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getPricingType
      tags:
        - pricing-types
      summary: 'Get PricingType resource'
      description: 'Get PricingType resource'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricingType'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updatePricingType
      tags:
        - pricing-types
      summary: 'Update the PricingType resource'
      description: 'Update the PricingType resource, also send an event to Kafka topic about changes'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricingType'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deletePricingType
      tags:
        - pricing-types
      summary: 'Remove the PricingType resource'
      description: 'Remove the PricingType resource, also send an event to Kafka topic about changes'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /groups:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      deprecated: true
      operationId: getGroupCollection
      tags:
        - groups
      summary: 'Retrieves the stream of Group resources'
      description: 'Retrieves the stream of Group resources, deprecated, use /pax endpoint instead'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/group'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      deprecated: true
      operationId: createGroup
      tags:
        - groups
      summary: 'Create a Group resource'
      description: 'Create a Group resource, also send an event to Kafka topic about changes, deprecated, use /pax endpoint instead'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/group'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /groups/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getGroup
      deprecated: true
      tags:
        - groups
      summary: 'Get Group resource'
      description: 'Get Group resource, deprecated, use /pax endpoint instead'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateGroup
      deprecated: true
      tags:
        - groups
      summary: 'Update the Group resource'
      description: 'Update the Group resource, also send an event to Kafka topic about changes, deprecated, use /pax endpoint instead'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/group'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteGroup
      deprecated: true
      tags:
        - groups
      summary: 'Remove the Group resource'
      description: 'Remove the Group resource, also send an event to Kafka topic about changes, deprecated, use /pax endpoint instead'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /markets:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getMarketCollection
      tags:
        - markets
      summary: 'Get markets stream'
      description: 'Get markets stream'
      parameters:
        - $ref: '#/components/parameters/filtersParam'
        - $ref: '#/components/parameters/fieldsParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/languageCodeParam'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/market'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: createMarket
      tags:
        - markets
      summary: 'Create market'
      description: 'Create market'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/market'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /markets/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/acceptVersionParam'
    get:
      operationId: getMarket
      tags:
        - markets
      summary: 'Get market resource by id'
      description: 'Get market resource by id'
      responses:
        '200':
          description: OK - The request was successful and the response body contains the representation requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/market'
          headers:
            trace-id:
              $ref: '#/components/headers/trace-id'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
    put:
      operationId: updateMarket
      tags:
        - markets
      summary: 'Update market'
      description: 'Update market'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/market'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '409':
          $ref: '#/components/responses/409'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteMarket
      tags:
        - markets
      summary: 'Delete market'
      description: 'Delete market'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
  /highlights/translate:
    parameters:
      - $ref: '#/components/parameters/acceptVersionParam'
    post:
      operationId: createHighLightsTranslation
      tags:
        - highlights
      summary: 'Create highlight translation/s'
      description: 'Create highlight tranlation/s'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/preMadeTranslation'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '406':
          $ref: '#/components/responses/406'
        '415':
          $ref: '#/components/responses/415'
        '500':
[...]
